<!DOCTYPE html>
<html>
<head>
	<title>SignUp and Login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="signin-jumbotron">
    <h3>Sign Up</h3>
  </div>
  <div class="container center adminform">
  <div class="row">
      <form action="/signup" method="POST">
          <!-- <div class="row">
              <div class="input-field col s12">
                <input name="name" id="full_name" type="text" class="validate">
                <label for="full_name">Full Name</label>
              </div> -->
    <div class="row">
      <div class="input-field col s12">
        <input name="name" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <br>
    <button class="waves-effect waves-light btn " type="submit">Sign Up</button>
  </form>
  </div>
  </div>
</body>
</html>